/* roots */
:root {
    --red: #E62428;
    --burgundy: #511717;
    --gray: #36413E;
    --maroon: #2E0C0C;
    --white: #fff;
    --ff-bandera: 'Bandera Pro';
}
/* scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 10px;
}

/* для кнопок */
.red-button {
    border-radius: 5px;
    background-color: var(--red);
    color: #fff;
    border: none;
}

/* cursor */
.pointer {
    cursor: pointer;
}

/* position */
.rel {
    position: relative;
}

/* базовый флекс */
.flex {
    display: flex;
}

.none{
    display: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/* для текста */
.text-center {
    text-align: center;
}

/* для тайтлов */
.title {
    font-weight: 700;
    font-family: var(--ff-bandera);
    color: var(--maroon);
    letter-spacing: 0.05em;
}

.subtitle {
    font-weight: 500;
    font-family: var(--ff-bandera);
    color: var(--burgundy);
}

.descr {
    font-weight: 400;
    color: var(--maroon);
}

/* убираем маргины и падинги */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* чтобы не слетали картинки */
img {
    max-width: 100%;
}

/* контейнер */
.container {
    padding: 5%;
}


/* текст */

html {
    font-size: 15px;
}

p {
    font-size: 1rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h1, h2 {
    font-weight: 300;
    margin: 20px 0;
}

h3, h4, h5, h6 {
    font-weight: 300;
    margin: 5px 0;
}