/* overlay */
.overlay {
  position: fixed;
  inset: 0 0 0 0;
  background-color: var(--overlay-bg);
}

/* 
  Этим костылём я двигаю модалку ближе к центру мобильного девайса.
  Это ужас, я знаю. Прости
*/
.modal {
  padding: 5rem 1rem 1rem 1rem;
}

.overlay,
.modal {
  z-index: 2;
}

.video-container video {
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .video-container video {
    max-width: 80%;
  }

  .modal {
    padding: 1rem;
  }
}