/* overlay */
.overlay {
  position: fixed;
  inset: 0 0 0 0;
  background-color: var(--overlay-bg);
  opacity: 1;
}

.modal {
  padding: 0 1rem;
}

.overlay {
  z-index: 2;
}

.video-container video {
  max-width: 100%;
}

.hide {
  z-index: -2;
  opacity: -1;
}


@media screen and (min-width: 425px) {
  .video-container video {
    max-width: 80%;
  }
}