@media screen and (min-width: 425px) {
    html {
        font-size: 14px;
    }

    /* header */
    .logo-image {
        width: 90px;
    }

    .logo-image img {
        width: 100%;
    }

    .lang-switch {
        font-size: 20px;
        width: 40px;
    }

    .lang-options {
        top: 4em;
    }

    .burger {
        width: 40px;
        height: 40px;
    }

    #line2,
    #line3 {
        top: 19px;
    }

    #line4 {
        top: 36px;
    }

    .burger.open #line1,
    .burger.open #line4 {
        top: 19px;
    }

    .burger-menu {
        top: 85px;
        height: 250px;
    }

    #crossLine1 {
        right: 5px;
    }

    #crossLine2 {
        right: -5px;
    }

    .open-arrow {
        margin-left: 10px;
    }



    /* lessons-type */
    .lessons-types figure {
        margin-top: 40px;
    }

    .circle-icon {
        top: -1.5em;
        left: -1.5em;
    }


    /* connect */
    .flip-modal {
        width: 350px;
    }

    .connect-btn {
        height: 35px;
        padding: 7px 0;
    }

    .phone-number {
        font-size: 1.5em;
    }
}


/* tablet */

@media screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
    }

    main .title {
        font-size: 2.2rem;
    }


    /* header */
    .burger {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        padding: 0;
    }

    .logo-image {
        order: -1;
    }

    .lang-switch {
        width: auto;
        margin-left: 2em;
    }

    .lang-options {
        right: 2em;
    }


    /* main */
    main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
    }

    main .title,
    main h2 {
        text-align: left;
    }

    .main-bg-container {
        padding: 0 5% 0 0;
        width: 40%;
    }

    main .container {
        width: 40%;
        padding: 0 0 0 5%;
    }


    /* benefits */
    .benefits article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .benefits figure {
        width: 48%;
    }


    /* lessons-types */
    .card-horizontal {
        display: flex;
        justify-content: center;
    }

    .lessons-types figure {
        width: 50%;
        margin: 20px 20px 20px 0;
    }

    .price {
        flex-wrap: wrap;
    }


    .total-cost {
        margin-bottom: 10px;
    }

    .circle-icon {
        top: -1em;
        left: -1em;
    }


    /* services */
    .card-column {
        margin-right: 20px;
    }


    /* reviews */
    .profile-avatar {
        width: 75px;
        height: 75px;
    }

    .star {
        width: 20px;
    }


    /* connect */
    .flip-modal {
        width: 450px;
    }

    .details {
        padding: 7% 5%;
    }

    .phone-number {
        height: 50px;
        margin: 20px 0;
    }

    .connect-btn {
        height: 40px;
    }

    .connect-menu {
        margin-top: 25px;
    }    


    /* modal */
    .check {
        width: 100px;
    }


    /* footer */
    footer h2 {
        margin-top: 2em;
    }
}


/* desktop */

@media screen and (min-width: 1024px) {
    html {
        font-size: 18px;
    }


    /* header */
    .burger-menu {
        position: relative;
        top: 0;
        left: 8%;
    }

    .logo-image {
        width: 120px;
    }

    .lang-options {
        top: 4.5em;
    }

    .header-btn {
        height: 50px;
        width: 150px;
    }

    .lang-switch {
        margin-left: 4em;
    }

    /* main */
    main {
        align-items: flex-start;
    }

    .main-article-text p {
        font-size: 20px;
    }


    /* benefits */
    .benefits h4 {
        font-size: 22px;
    }

    .benefits p {
        font-size: 1.1rem;
    }

    .rotate-cards {
        height: 75px;
    }

    .card-icon,
    .rotate-cards {
        min-width: 75px;
        max-width: 75px;
    }


    /* lessons-type */

    .total-cost {
        margin-right: 30px;
    }

    .lessons-types figure {
        width: 550px;
        margin: 20px 40px 20px 0;
    }


    /* connect */
    .flip-modal {
        width: 550px;
    }

    .phone-number {
        margin: 25px 0;
    }

    .connect-btn {
        height: 45px;
    }


    /* modal */
    .check {
        width: 120px;
    }
}

/* large-desktop */
@media screen and (min-width: 1440px) {
    html {
        font-size: 20px;
    }

    .title {
        font-size: 2.6rem;
    }

    main .title {
        font-size: 2.6rem;
    }

    /* header */
    .burger-menu {
        left: 14%;
    }

    .lang-switch {
        margin-left: 8em;
    }


    /* main */
    .main-article-text p {
        font-size: 1.2rem;
    }

    .main-article-icons {
        min-width: 25px;
        max-width: 25px;
    }


    /* reviews */
    .profile-avatar {
        width: 100px;
        height: 100px;
    }

    .star {
        width: 25px;
        height: 25px;
    }


    /* connect */
    .flip-modal {
        width: 650px;
    }

    .connect-btn {
        height: 50px;
    }


    /* modal */
    .check {
        width: 150px;
    }
}