@media screen and (min-width: 425px) {
    .logo-image{
        width: 90px;
    }

    .logo-image img{
        width: 100%;
    }

    header{
        height: 100px;
    }

    .lang-switch{
        font-size: 20px;
    }

    .burger{
        width: 40px;
        height: 40px;
    }
}

/* tablet */

@media screen and (min-width: 768px) {
    
    /* main */
    main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: end;
    }

    main .title, main h2 {
        text-align: left;
    }

    .main-bg-container {
        padding: 5%;
        width: 45%;
    }

    main .container {
        width: 40%;
    }
}



/* Знаю, сам говорил стараться без этого обходиться, но тут не получилось */
@media screen and (min-width: 950px) {
    
    /* main */
    main .title {
        font-size: 40px;
    } 
    
    main .container {
        width: auto;
    }

    .main-bg-container {
        width: 50%;
    }
}


/* desktop */

@media screen and (min-width: 1024px) {
    
    /* main */
    main .title {
        font-size: 52px;
    }

    main h2 {
        font-size: 30px;
    }
}

/* large-desktop */
@media screen and (min-width: 1440px) {
    /* main */
    .main-bg-container {
        width: 30%;
    }

    .burger-menu{
        top: 95px;
        height: 220px;
    }
}

@media screen and (min-width: 767px){
    .burger{
        display: none;
    }

    .burger-menu{
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
    }

    .logo-image{
        order: -1;
    }
}