@media screen and (min-width: 319px){
    .burger-menu{
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        background-color: #fff;
        width: 100%;
        top: 65px;
        height: 190px;
    }

    .burger-menu{
        display: none;
        align-items: center;
        gap: 20px;
    }
    
    .navigations, .header-btn{
        text-decoration: none;
        font-size: 18px;
    }
    
    .navigations{
        color: var(--burgundy);
    }
    
    .header-btn{
        height: 40px;
        width: 130px;
        color: #fff;
    }
}

@media screen and (min-width: 424px) {
    .logo-image{
        width: 90px;
    }

    .logo-image img{
        width: 100%;
    }

    header{
        height: 100px;
    }

    .lang-switch{
        font-size: 20px;
    }

    .burger{
        width: 40px;
        height: 40px;
    }

    .burger-menu{
        top: 95px;
        height: 220px;
    }
}

@media screen and (min-width: 767px){
    .burger{
        display: none;
    }

    .burger-menu{
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
    }

    .logo-image{
        order: -1;
    }
}