body {
    font-family: 'Inter', sans-serif;
    ;
    font-weight: 300;
    box-sizing: border-box;
    color: var(--gray);
}

li {
    margin-left: 1em;
}

/* header */
header {
    height: 70px;
    align-items: center;
    justify-content: space-around;
}

.burger {
    height: 30px;
    width: 30px;
    justify-content: space-around;
    cursor: pointer;
}

.line {
    background-color: #000;
    height: 2px;
}

.burger-menu {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 65px;
    height: 190px;
    align-items: center;
    gap: 20px;
}

.navigations,
.header-btn {
    text-decoration: none;
    font-size: 18px;
}

.navigations {
    color: var(--burgundy);
}

.header-btn {
    height: 40px;
    width: 130px;
    color: #fff;
}

.lang-switch {
    cursor: pointer;
}


/* главная */
.main-bg-image {
    width: 100%;
}

main .title {
    font-size: 2.25rem;
}

main .title,
main h2 {
    text-align: center;
}

main .descr {
    color: var(--gray);
}

main article {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.main-article-icons {
    margin-right: 10px;
    min-width: 20px;
    max-width: 20px;
    /* Спорная шняга */
}

.main-article-icons img {
    width: 100%;
}


/* benefits */
.benefits-article-icons img {
    width: 100%;
}

.benefits figure {
    margin: 10px 10px 10px 0;
}

/* flip-cards */
.rotate-cards {
    margin: 10px 10px 10px 0;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    position: relative;
    perspective: 1000px;
}

.video-rotate {
    transform: rotateY(180deg);
}

.benefits-article-icons, .video-rotate {
    min-width: 50px;
    max-width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: 1s;
}

/* подёргивающаяся иконка */
@keyframes twitch {
    0% {
        transform: translateY(0);
    }

    5% {
        transform: translateY(-5px);
    }

    17% {
        transform: translateY(0);
    }

    32% {
        transform: translateX(0);
    }

    34% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(0);
    }

    67% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-5px);
    }

    84% {
        transform: translateY(0);
    }

    88% {
        transform: translateX(0);
    }

    90% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.twitch-animation {
    animation: twitch 2s infinite;
}

/* lessons-types */

.lessons-types figure {
    margin: 20px 0;
}

.lesson-card {
    position: relative;
}

.circle-icon {
    width: 15%;
    position: absolute;
    top: -1em;
    left: -1em;
}

.price {
    margin-top: 15px;
}

.total-cost {
    margin-right: 20px;
}

.total-cost p {
    margin: 5px 0;
}

.discount {
    width: 150px;
    position: relative;
}

.discount .descr {
    position: absolute;
    top: 10px;
    left: 9px;
}