body{
    font-family: 'Inter', sans-serif;;
}

header{
    height: 70px;
    border: 1px #000 solid;
    align-items: center;
    justify-content: space-around;
}

.burger{
    height: 30px;
    width: 30px;
    justify-content: space-around;
}

.line{
    background-color: #000;
    height: 2px;
}