body{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

/* хедер */
header{
    height: 70px;
    align-items: center;
    justify-content: space-around;
}

.burger{
    height: 30px;
    width: 30px;
    justify-content: space-around;
    cursor: pointer;
}

.line{
    background-color: #000;
    height: 2px;
}

.burger-menu{
    display: none;
}

/* главная */
.main-bg-image {
    width: 100%;
}